html, body {
    font-family:Helvetica, Arial, sans-serif;
    font-size: 0.90em;
}

.logo-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./DSNY_logo_2016.jpg) no-repeat center center;
    opacity: .1;
    z-index: -1;
    background-size: contain;
}

.stat-container > div {
    display: inline-block;
    vertical-align: top;
}

.stat-container > div > h2 {
    padding: 10px;
    margin: 0;
	background-color: white;
    width: 250px;
    border: 5px solid green;
    padding: 20px;
    margin: 20px;
}

.stat-item {
    padding: 30px 36px;
}

.stat-item .stat-label {
    padding-left: .3em;
    font-size: 1.5em;
    text-transform: capitalize;
}

.stat-item .stat-buffer-outer {
    height: 41px;
    width: 300px;
    border: solid 1px #555;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 2px #333;
}

.stat-item .stat-buffer-outer .stat-percent {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    font-size: 1.6em;
    padding: .35em;
    z-index: 1;
    text-align: center;
}
.stat-item .stat-buffer-outer,
.stat-item .stat-buffer-outer .stat-buffer-inner { border-radius: 22px; }

.stat-item .stat-buffer-outer .stat-buffer-inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 30%;
    background-color: #77dd77;
}

/* .stat-item .stat-buffer-outer .stat-buffer-highlight {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5%;
    z-index: 1;
    background-color: #fff;
} */

.upload-file-btn,
.modal-bg {
    position: fixed;
}

.upload-file-btn {
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    margin-top: -75px;
    margin-left: -75px;
    background-color: #fff;
    z-index: 9999;
    border-radius: 6px;
    overflow: hidden;
    background: url(./upload_icon.png) no-repeat center center #fff;
    background-size: 10em;
    cursor: pointer;
    box-shadow: 0 0 4px #000;
}

.modal-bg { 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 9998;
    opacity: 0.6;
}

.display-none { display: none !important; }
.red-bg { background-color: #ff7676 !important; }
.yellow-bg { background-color: #fff476 !important; }