@media only screen and (max-width: 600px) {
    div.borough { width: 100% !important; }
    div.borough-label { background-color: #fff; }
}

@media only screen and (max-width: 1350px) {
    div.route { width: 100% !important; }
}

@media only screen and (max-width: 390px) {
    section.toolbar-container div.brand { max-width: 300px;  }
    section.toolbar-container div.brand h2 { padding: 0 0 0 4rem !important; }
}

@media only screen and (max-width: 395px) {
    section.toolbar-container div.brand h2 { padding: 0 0 0 5rem !important; }
}

html, body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.90em;
    position: relative;
    margin: 0;
    padding: 0;
    color: #262626;
}

section.toolbar-container {
    position: relative;
    padding: 1rem;
    border-bottom: solid 1px #333;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

section.toolbar-container div.brand h2 { 
    margin: 0;
    padding: .32rem 0 .32rem 3rem;
    background: url(./assets/dsny_logo.png) no-repeat center left;
    background-size: contain;
}

section.toolbar-container div.tool-list {
    display: flex;
    flex-flow: row wrap;
}

section.toolbar-container div.tool-list a.tool {
    display: block;
    padding: .2rem .3rem;
    color: #eee;
    text-decoration: none;
    font-weight: bold;
    margin: 0 0.3rem;
    height: 24px;
    width: 30px;
    border-radius: 9px;
    border: solid 1px #0B6623;
    background: linear-gradient(145deg, #0a5c20, #0c6d25);
    box-shadow:  4px 4px 8px #09571e,
                 -4px -4px 8px #0d7528;
}
span.icon {
    display: block; 
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

span.home-icon { background-image: url(./assets/home_ico.png); }

section.toolbar-container div.tool-list .tool:hover { border: solid 1px #008000; }

.display-none { display: none !important; }
.primary-color { background-color: #0B6623 !important; color: #fff !important; }
.red-bg { background-color: #ff0000; }
.yellow-bg { background-color: #FFFF00; }
.light-green-bg { background-color: #adff2f; }
.mid-green-bg { background-color: #00ff00; }
.dark-green-bg { background-color: #32cd32; }


.logo-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./assets/dsny_logo.png) no-repeat center center;
    opacity: .1;
    z-index: -1;
    background-size: contain;

    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -ms-filter: blur(1px);
    -o-filter: blur(1px);
}

.modal-bg { position: fixed; }

.modal-bg { 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 9990;
    opacity: 0.6;
}

.container-fluid,
.borough-container { position: inherit; }
.borough { float: left; width: 33.33%; }

div.borough div.borough-label {
    text-transform: uppercase;
    box-shadow: 0 4px 3px -4px #008000;
    font-size: 1.5em;
    backdrop-filter: blur(7px);
    border-bottom: solid 1px #999;
    border-top: solid 1px #fff;
    white-space: nowrap;
    font-weight: bold;
}

div.borough div.borough-label > div,
div.borough div.route-container { padding: 1rem; }

div.route {
    position: relative;
    display: inline-block; 
    white-space: nowrap;
    min-height: 3rem;
}

div.route .link { 
    text-decoration: none;
    display: inline-block;
    padding: 5px 0;
    color: rgb(86, 129, 209);
    font-weight: bold;
}

.borough-container .borough div.route {
    width: 46%;
    margin-right: 1rem !important;
    cursor: pointer;
    margin: 2.5rem 0;
}

.borough-container .borough div.route .truck-map { display: none; }

.route-detail-container .route-detail div.route { width: 100%; margin: 1.5rem 0; }
.route-detail-container .route-detail div.route div.route-label::before { content: "Equipment: "; }
.route-detail-container .route-detail div.route .route-map { display: none; }
.route-detail-container .route-detail div.route .progress-percent { display: none; }

div.route div.route-label {
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.route div.outer-progress-bar,
div.route div.outer-progress-bar .inner-progress-bar { border-radius: 20px; }

div.route div.outer-progress-bar {
    position: relative;
    min-height: inherit;
    overflow: hidden;
    border: solid 1px #aaa;
    backdrop-filter: blur(5px);
}

div.route div.outer-progress-bar .inner-progress-bar,
div.route div.outer-progress-bar .progress-percent { position: absolute; top:0; left: 0; width: 100%; }
div.route div.outer-progress-bar .inner-progress-bar { height: 100%; width: 0; transition: ease-in-out .8s; }

div.route div.outer-progress-bar .progress-percent {
    text-align: center;
    font-size: 1.4rem;
    padding: .7rem 0;
    transition: ease-in-out .1s;
}

.borough-container .borough div.route:hover div.outer-progress-bar .progress-percent { font-size: 2rem;  }

aside.route-detail-container {
    position: fixed;
    top: 0;
    right:0;
    height: 100%;
    width: 0;
    z-index: 9991;
    background-color: #fff;
    max-width: 400px;
    box-shadow: 1px 0 3px #333;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: ease-in-out .3s;
}

aside.route-detail-container div.tool-list { text-align: right; font-weight: 100; color: #444; }

aside.route-detail-container div.tool-list .tool { 
    display: inline-block; 
    font-size: 2.6rem; 
    cursor: pointer; 
    padding: 0 2rem; 
    outline: none;
    user-select: none;
}

div.selected-route-label { padding: 0 2rem; font-weight: bold; font-size: 1.2rem; }

section.route-detail {
    padding: 2rem;
    padding-top: 0;
    display: flex;
    flex-flow: row wrap;
}

section.route-detail .inner-progress-bar { background-color: rgb(222, 222, 222) !important; }

/* NOTIFICATION STYLES */

div.notification-container {
    width: 300px;
    min-height: 70px;
    background-color: #fff;
    position: fixed;
    right: 4%;
    bottom: 8%;
    box-shadow: 0 0 10px 1px #444;
    border-radius: 8px;
    border: solid 2px #000;
}

div.message-list {
    padding: 10px 20px;
    position: relative;
    height: 100%;
    width: calc(100% - 40px);
}

div.message { border-bottom: solid 1px #eee; padding-bottom: 15px; }
div.message:first-child { border-bottom: none !important; }
div.message-actions { display: flex; }

div.message-actions button {
    border: none;
    background: none;
    cursor: pointer;
    margin-left: auto;
}

div.message-body { font-size: 1rem; }

section.datetime-container {
    padding-right: 1rem;
    text-align: right;
    color: #333;
    backdrop-filter: blur(7px);
}

